@model IEnumerable<Website.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var business in Model) {
        <li>
        @Html.Partial("Business", business)
        </li>
    }

</ul>