@{
    ViewBag.Title = "A Little About Me";
}
<h1>
    A Little About Me</h1>
<div class='row'>
    <div class='span5'>
        <p>
            My name is Anthony (Tony ) Canzoneri, I have worked around and with heavy equipment
            most of my life, I grew up on a farm called Field & Forest Stables in Patterson
            NY.
        </p>
        <p>
            I began welding in our small barn / shop where I was taught the basics of stick
            and gas welding from an accomplished welder named Raymond Mahue, at the age of 11
            yrs old, I learned about hard work and the importance of how machinery and hardware
            interact and also the basics of the wiring and hydraulics of many machines and equipment.
        </p>
        <p>
            Through ages 15 to 17, I was formerly trained and graduated from a New York State
            BOCES Tech School, named the Northern Westchester BOCES Tech Center, in Yorktown
            Heights, NY. I completed 1000 hours in the study and practice of welding, where
            my teacher had been welding since WW2 he was the layout man for the steel of that
            actual school structure, frame itself; he was a demanding but an excellent welding
            teacher. Many years later I found out that in his younger years his nick name was
            also Ironman.
        </p>
        <p>
            At the age of 20 I joined the Air Force, as a Lineman (working on power lines),
            I have worked for Conn. Light & Power for many years after, where I learned to work
            safely and to work well with other talented people, and all of that time I have
            never stopped welding.
        </p>
        <p>
            I’ve performed many demanding welding tasks for many people and companies, and have
            learned a great deal in the field of welding, I use the latest welding equipment,
            techniques and supplies to accomplish the beautiful art and craftsmanship of welding.
        </p>
        <p>
            I started Ironman Welding LLC, officially in the year of 2000, where I have welded,
            in and around the town of Stamford CT. Where I have always done my best to meet
            or exceed my customers wishes
        </p>
    </div>
</div>
