<header class='row'>
    <div class='span8'>
        <img src="@Url.Content("~/Content/img/header-logo.jpg")" alt="Logo" />
    </div>
    <div class='span3 offset1'>
        <address>
            <strong>Home Office Contact Information</strong> <br />
            420 Courtland Ave #1 <br />
            Stamford, CT 06906<br />
            <abbr title="Phone">P:</abbr> 203-979-4063<br />
            <abbr title="Fax">F:</abbr> 203-979-4063<br />
            <abbr title="Email">E:</abbr> <a href="mailto:ironmanweldingllc@gmail.com">ironmanweldingllc@gmail.com</a>
        </address>
    </div>
</header>

<div class='row'>
    <h3 class='motto'>Get it right the first time! Over 25 years of experience.</h3>
</div>