@{
    ViewBag.Title = "Hourly Rates";
}
<h1>
    Hourly Rates</h1>
<div class='alert alert-error'>
    All rates are base on regular / non specialty welding related work.
</div>
<table class='table table-bordered'>
    <tr>
        <td>
            Hourly Shop Rate
        </td>
        <td class='ralign'>
            $100.00
        </td>
    </tr>
    <tr>
        <td>
            Hourly Mobile Rate / Within 10 Mile Radius / 2 Hour Minimum
        </td>
        <td class='ralign'>
            $110.00
        </td>
    </tr>
    <tr>
        <td>
            Hourly Mobile Rate / Within 25 Mile Radius / 4 Hour Minimum
        </td>
        <td class='ralign'>
            $110.00
        </td>
    </tr>
    <tr>
        <td>
            Hourly Mobile Rate / Within 50 Mile Radius / 8 Hour Minimum
        </td>
        <td class='ralign'>
            $110.00
        </td>
    </tr>
    <tr>
        <td>
            Hourly Mobile Diesel Welder Rate w/Fuel
        </td>
        <td class='ralign'>
            $25.00
        </td>
    </tr>
    <tr>
        <td>
            Hourly Mobile Gas Compressor Rate w/Fuel
        </td>
        <td class='ralign'>
            $15.00
        </td>
    </tr>
    <tr>
        <td colspan=2>
            All other rates are based on type and location of job
        </td>
    </tr>
    <tr>
        <td colspan=2>
            All materials and consumables are chargeable
        </td>
    </tr>
    <tr>
        <td colspan=2>
            Not Responsible for any permits
        </td>
    </tr>
</table>
<div class='alert alert-error'>
    All rates are subject to change based on current prices and customer loyalty.
</div>
