@{
    ViewBag.Title = "Home & About Us";
}

<h1>Home & About Us</h1>

<p>
Over 20 years experience in professional welding repair and fabrication in the 
NY and CT areas.
</p>

<p>
Custom modifications for small to large equipment in shop or mobile welding:
  <ul>
    <li>SMAW (Stick)</li>
    <li>MIG</li>
    <li>TIG</li>
  </ul>
</p>

<p>
Able to cut or weld on most materials:
  <ul>
      <li>Steel</li>
      <li>Stainless Steel</li>
      <li>Aluminum</li>
  </ul>
</p>

<p>
Specializing in modifications to landscapers equipment and trucking industries.
</p>

<p>
Mobile Plazma, Oxy/Acetylene or exothermic cutting.
</p>

<p>
SMall project design and machining services.
</p>

<p>
Sand blasings small/medium projects.
</p>

<p>
Painting of most paint types and custom colors.
</p>

<p>
Distributor of "Buyers Products."
</p>

<p>
Concrete core boring from 3/8" up to 6" diameter.
</p>

<p>
Hot Water, 4000psi, portable power washing.
</p>

<p>
Fully Insured.
</p>

<p>
Registered with the State of Connecticut.
</p>